$theme-bg-color: #070f24;

$header-bg-color: #21202e;

$logo-bg-color: #162d5a;

$menu-bg-color: #0e1f3e;
$menu-color: #6e7e88;
$menu-active-bg-color: #070f24;

$border-color: #666666;

$button-submit-bg-color: #009efb;
$button-color: #ffffff;
$button-disabled-color: #c0c4cc;

$dialog-bg-color: #1b1e2d;

svg[data-element-id] {
  background-color: $dialog-bg-color;
}

@mixin primaryPlainBtn {
  font-size: 14px;
  color: #009EFB;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #009EFB;
  border-radius: 4px;
  cursor: pointer;
}

@mixin resetBtn {
  color: #fff;
  width: 79px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background: #0DD5EF;
  border-radius: 4px;
  cursor: pointer;
}

@mixin primaryBtn {
  width: 84px;
  height: 34px;
  font-size: 14px;
  line-height: 34px;
  color: #fff;
  padding: 0;
  border-color: #009EFB;
  background: #009EFB;
  margin-right: 14px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #007DC7;
  }
}

@mixin cancelBtn {
  width: 84px;
  height: 34px;
  font-size: 14px;
  line-height: 34px;
  color: #fff;  padding: 0;
  border-color: #6E7E88;
  background: #6E7E88;
  border-radius: 4px;
  cursor: pointer;
}