$theme-bg-color: #070f24;

$header-bg-color: #21202e;

$logo-bg-color: #212a45;

$menu-bg-color1: #0e1f3e;
$menu-bg-color: #1a2137;
$menu-color: #6e7e88;
$menu-active-bg-color: #070f24;

$border-color: #666666;
$border-color-1: #333333;

$font-color: #ffffff;
$font-color-1: #666666;

$button-submit-bg-color: #009efb;
$button-color: #ffffff;
$button-disabled-color: #c0c4cc;

$card-bg-color: #1b1e2d;
$dialog-bg-color: #1b1e2d;

$card-bg-color-1: #212739;
