.ant-cascader-menus {
  // position: relative !important;
}

.ant-cascader-picker {
  background-color: transparent !important;
  color: #fff !important;

  .ant-cascader-picker-clear {
    background: transparent !important;
    color: #fff;

    &:hover {
      color: #fff !important;
    }
  }
}