.el-checkbox__input.is-disabled .el-checkbox__inner {
  background-color: #333;
  border-color: #333;
}
.el-checkbox__input.is-disabled + span.el-checkbox__label {
  color: #666666;
  cursor: not-allowed;
}
.el-checkbox__inner {
  background-color: transparent;
  border-color: #009EFB;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: unset;
  border-color: #009EFB;
}

.el-checkbox__inner::after {
  border: 1px solid #009EFB;
  border-left: 0;
  border-top: 0;
}
.el-checkbox {
  color: #999999;
}