$date-editor-bg-color: #212739 !default;
$date-picker-border-color: #999999 !default;

.el-date-editor {
  & > .el-range-input {
    background-color: transparent;
  }

  .el-range-separator {
    width: auto;
  }
}

.el-picker-panel {
  background-color: $date-editor-bg-color;
  border: 1px solid $date-picker-border-color;
}

.el-date-range-picker__content.is-left {
  border-right: 1px solid $date-picker-border-color;
}

.el-date-table {
  th {
    border-bottom: 1px solid $date-picker-border-color;
  }
}
