$textarea-bg-color: #212739;
$textarea-text-color: #fff;
.el-textarea__inner {
  background-color: $textarea-bg-color;
  color: $textarea-text-color;
}
.el-textarea.is-disabled .el-textarea__inner {
background-color: unset;
}