$tabs-header-bg-color: #252634 !default;
$tabs-header-item-color: #9f9fa0 !default;
$tabs-header-item-active-flag-color: #176cf4 !default;
$tabs-header-item-active-bg-color: #1b1e2d !default;
$tabs-header-item-active-color: #ffffff !default;
$tabs-content-bg-color: #1b1e2d !default;

.el-tabs--border-card {
  border: 0;
  background-color: $tabs-content-bg-color;

  & > .el-tabs__header {
    border-bottom: 0;
    background-color: transparent;

    .el-tabs__nav-wrap {
      border: 0;
      background-color: $tabs-header-bg-color;
      height: 56px;
    }

    .el-tabs__nav-scroll {
      height: 100%;

      .el-tabs__nav {
        height: 100%;
      }
    }

    .el-tabs__item {
      border-left: 0;
      border-right: 0;
      color: $tabs-header-item-color;
      font-size: 18px;
      line-height: 56px;
      text-align: center;
      height: 101%;
      width: 180px;
    }

    .el-tabs__item.is-active {
      border-left: 0;
      border-right: 0;
      border-top: 2px solid $tabs-header-item-active-flag-color;
      background-color: $tabs-header-item-active-bg-color;
      color: $tabs-header-item-active-color;
    }
  }
}
