@mixin formDialog {
  width: 580px;

  .el-dialog__body {
    padding: 30px 100px 30px 100px;
  }

  .el-dialog__footer {
    :first-child {
      display: flex;
      justify-content: center;
    }
  }

  .el-select {
    width: 100%;
  }

  .el-cascader {
    width: 100%;
  }

  .el-date-editor {
    width: 100%;
  }
}
